OUTFILES/*.log
OUTFILES/*.out
*.pyc
*.dss
OUTFILES/Yuba-Feather/CVHS_DEER_CR_NR_SMARTVILLE_PCHIP.out
OUTFILES/Yuba-Feather/CVHS_DEER_CR_NR_SMARTVILLE_PCHIP.out_missing.log
OUTFILES/Yuba-Feather/CVHS_DEER_CR_NR_SMARTVILLE_PCHIP.out_peaks.log
OUTFILES/Yuba-Feather/CVHS_DEER_CR_NR_SMARTVILLE.out
OUTFILES/Yuba-Feather/CVHS_DEER_CR_NR_SMARTVILLE.out_missing.log
OUTFILES/Yuba-Feather/CVHS_DEER_CR_NR_SMARTVILLE.out_peaks.log
OUTFILES/Yuba-Feather/WCM_Update_DEER.out
OUTFILES/Yuba-Feather/WCM_Update_DEER.out_missing.log
OUTFILES/Yuba-Feather/WCM_Update_DEER.out_peaks.log
USBC_1DAY/ISB_POR.txt
USBC_1DAY/ISB.txt
USBC_1DAY/KERN-LOCAL.txt
USBC_1DAY/KERN.txt
USBC_PEAKS/ISB_POR.txt
USBC_PEAKS/ISB.txt
USBC_1DAY/NBB.txt
.gitignore
.gitignore
USBC_PEAKS/FEATHER_R@OROVILLE_DAM.txt
USBC_PEAKS/YUBA_R@NEW_BULLARDS_BAR.txt
plots/FEATHER_R OROVILLE_DAM_2409_03_02.png
plots/FEATHER_R OROVILLE_DAM_2410_04_28.png
plots/FEATHER_R OROVILLE_DAM_2411_03_16.png
plots/FEATHER_R OROVILLE_DAM_2412_03_16.png
plots/FEATHER_R OROVILLE_DAM_2412_12_02.png
plots/FEATHER_R OROVILLE_DAM_2414_03_30.png
plots/FEATHER_R OROVILLE_DAM_2415_02_09.png
plots/FEATHER_R OROVILLE_DAM_2416_03_06.png
plots/FEATHER_R OROVILLE_DAM_2417_02_09.png
plots/FEATHER_R OROVILLE_DAM_2418_03_22.png
plots/FEATHER_R OROVILLE_DAM_2419_02_14.png
plots/FEATHER_R OROVILLE_DAM_2419_12_08.png
plots/YUBA_R NEW_BULLARDS_BAR_2409_05_05.png
plots/YUBA_R NEW_BULLARDS_BAR_2410_04_28.png
plots/YUBA_R NEW_BULLARDS_BAR_2410_12_19.png
plots/YUBA_R NEW_BULLARDS_BAR_2412_03_18.png
plots/YUBA_R NEW_BULLARDS_BAR_2412_12_02.png
plots/YUBA_R NEW_BULLARDS_BAR_2414_02_09.png
plots/YUBA_R NEW_BULLARDS_BAR_2415_02_09.png
plots/YUBA_R NEW_BULLARDS_BAR_2416_03_08.png
plots/YUBA_R NEW_BULLARDS_BAR_2417_02_09.png
plots/YUBA_R NEW_BULLARDS_BAR_2418_03_22.png
plots/YUBA_R NEW_BULLARDS_BAR_2419_02_14.png
OUTFILES/Yuba-Feather/NBB.out
OUTFILES/Yuba-Feather/NBB.out_missing.log
OUTFILES/Yuba-Feather/NBB.out_peaks.log
OUTFILES/Yuba-Feather/ORO.out
OUTFILES/Yuba-Feather/ORO.out_missing.log
OUTFILES/Yuba-Feather/ORO.out_peaks.log
dist/
CVHSSmoothing.egg-info/
